@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins',sans-serif;
}


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 300%;
    cursor: pointer;
}

header {
    width: 100%;
    background-color: #ffffff;
}

.header_line {
    display: flex;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.logo {
    width: 50px;
}

#menu-list {
    font-size: 300%;
    display: flex;
    flex-direction: column;
}

#menu-list li {
    padding: 10px;
    font-size: 50%;
}

#menu-list li:hover {
    background-color: darkgray;
    border-radius: 10px;
}

/* Style the button that triggers the dropdown */
.dropbtn {
    cursor: pointer;
}

/* Style the container for the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown menu itself */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Style the links inside the dropdown menu */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change link color on hover */
.dropdown-content a:hover {
    background-color: #3498db;
    color: #fff;
}

/* Show the dropdown menu when the button is hovered */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-symbol {
    vertical-align: middle;
    margin-left: 5px;
}

.arrow-down {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: translateY(-2px) rotate(45deg);
    vertical-align: middle;
}

