<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/checkout.css">
    <script src="../javascript/headerImport.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/icons/vecteezy_school-bus.jpg">
</head>
<body>
<div id="header-for-all"></div>
<main>
    <div class="add-new-div">
        <h2>Checkout</h2>
        <div id="checkout-div">
            <ul class="item-list">
                <li>
                    <div class="image-placeholder"></div>
                    <div class="middle-row">
                        <h3>Coupon Name</h3>
                        <p>
                            Type selectors represent the type of elements, to which the rule is applied. Let's consider an example. As we mentioned above, the list items are marked with a black circle by default.
                        </p>
                    </div>
                    <div class="last-row">
                        <span>$88</span>
                    </div>
                </li>
                <li>
                    <div class="image-placeholder"></div>
                    <div class="middle-row">
                        <h3>Coupon Name</h3>
                        <p>
                            Attribute selectors allow to select the desired elements and set the style for them by the presence of a certain attribute or its value. Let's consider the main types of such selectors.                        </p>
                    </div>
                    <div class="last-row">
                        <span>$88</span>
                    </div>
                </li>
                <li>
                    <div class="image-placeholder"></div>
                    <div class="middle-row">
                        <h3>Coupon Name</h3>
                        <p>
                            all elements, which contain the specified attribute, are selected. For example, [class] — all elements for which the attribute class is set, regardless of the value of this attribute, are selected.                        </p>
                    </div>
                    <div class="last-row">
                        <span>$88</span>
                    </div>
                </li>
            </ul>
            <div class="total-container">
                <p><span class="total-label">Total</span> <span class="total-value">$999.99</span></p>
            </div>
            <div class="registration-buttons-div">
                <button type="reset">Back</button>
                <button type="submit">Checkout</button>
            </div>
        </div>
    </div>
</main>
</body>
</html>