<header>
    <div class="header_container">
        <div class="left-part">
            <div id="menuToggle" style="padding-top: 1rem">
                <input type="checkbox" id="menu-checkbox"/>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <img class="logo"
                 src="../static/vecteezy_school-bus-icon-vector_9098275_213/vecteezy_school-bus-icon-vector_9098275.jpg"
                 alt="logo">
        </div>
        <div class="central-part">
            <input id="search-field" type="search" placeholder="Search by item name"/>
            <div class="dropdown">
                <select class="custom-select">
                    <option selected>All Categories</option>
                    <option>Action</option>
                    <option>For Two</option>
                    <option>Education</option>
                </select>
            </div>
        </div>
        <div class="right-part">
            <nav>
                <a href="#favorite"><i><img class="right-side-icons"
                                            src="../static/favorite_FILL0_wght400_GRAD0_opsz24.svg" alt="favorite"></i></a>
                <a href="#shoppingCart"><i><img class="right-side-icons"
                                                src="../static/shopping_cart_FILL0_wght400_GRAD0_opsz24.svg" alt="cart"></i></a>
                <a id="login" href="#login">Login</a>
                <a id="signup" href="#Signup">Sign Up</a>
            </nav>
        </div>
    </div>
    <nav id="menu-list" class="menu-list">
        <a href="#">Certificates</a>
        <a href="#">Orders</a>
        <a href="#">Checkout</a>
    </nav>
</header>