<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../javascript/headerImport.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/icons/vecteezy_school-bus.jpg">
</head>

<body>
    <header>
        <div id="header-for-all"></div>
        <main>
            <div id="main-container">
                <img id="main-logo" src="../static/icons/vecteezy_school-bus.jpg" alt="logo">
                <div id="login-form">
                    <input class="login-input" type="text" placeholder="Login">
                    <input class="login-input" type="password" placeholder="Password">
                    <button class="login-input" type="submit">Login</button>
                </div>
            </div>
        </main>
</body>

</html>