<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" dir="ltr">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="../css/esm_stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../static/enter.png">
    <script src="../javascript/js_whistles.js"></script>
</head>
<body>
<header>
    <nav class="header_line">
        <label for="menu-list">
            <span class="material-symbols-outlined" id="menu-trigger">menu</span>
        </label>
        <label>
            <img class="logo" src="../static/crowdsource_FILL0_wght400_GRAD0_opsz24.svg">
        </label>
        <ul id="menu-list">
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
        </ul>
        <div class="search-box">
            <input type="search" placeholder="Search by item name">
            <div class="dropdown">
                <button class="dropbtn">
                    Dropdown <i class="arrow-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>