<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <script src="../javascript/login.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/icons/vecteezy_school-bus.jpg">
</head>
<body>
<header>
    <div class="header_container">
        <div class="left-part">
            <div id="menuToggle" style="padding-top: 1rem">
                <input type="checkbox" id="menu-checkbox"/>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <img class="logo"
                 src="../static/icons/vecteezy_school-bus.jpg"
                 alt="logo">
        </div>
        <div class="central-part">
            <input id="search-field" type="search" placeholder="Search by item name"/>
            <div class="dropdown">
                <select class="custom-select">
                    <option selected>All Categories</option>
                    <option>Action</option>
                    <option>For Two</option>
                    <option>Education</option>
                </select>
            </div>
        </div>
        <div class="right-part">
            <nav>
                <a href="#favorite"><i><img class="right-side-icons"
                                            src="../static/icons/favorite_FILL0_wght400_GRAD0_opsz24.svg" alt="favorite"></i></a>
                <a href="#shoppingCart"><i><img class="right-side-icons"
                                                src="../static/icons/shopping_cart_FILL0_wght400_GRAD0_opsz24.svg" alt="cart"></i></a>
                <a id="login" href="#login">Login</a>
                <a id="signup" href="#Signup">Sign Up</a>
            </nav>
        </div>
    </div>
    <nav id="menu-list" class="menu-list">
        <a href="#">Certificates</a>
        <a href="#">Orders</a>
        <a href="#">Checkout</a>
    </nav>
</header>
<main>
    <div id="main-container">
        <img id="main-logo"
             src="../static/icons/vecteezy_school-bus.jpg"
             alt="logo">
        <div id="login-form">
            <input class="login-input" type="text" placeholder="Login">
            <input class="login-input" type="password" placeholder="Password">
            <button class="login-input" type="submit">Login</button>
        </div>
    </div>
</main>
</body>
</html>