<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="../css/tutorial.css"/>
    <script src="../javascript/tutorial.js"></script>
</head>
<body>
<header>
    <div class="container">
        <div class="left-part">
            <div id="menuToggle" style="padding-top: 1rem">
                <input type="checkbox" id="menu-checkbox"/>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <img class="logo"
                 src="../static/vecteezy_school-bus-icon-vector_9098275_213/vecteezy_school-bus-icon-vector_9098275.jpg"
                 alt="logo">
        </div>
        <div class="central-part">
            <input type="search" placeholder="Search by item name"/>
            <div class="dropdown">
                <button class="dropbtn">
                    Dropdown <i class="arrow-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </div>
        </div>
        <div class="right-part">
            <button> exit</button>
        </div>
    </div>
    <nav id="menu-list" class="menu-list">
        <a href="#">Certificates</a>
        <a href="#">Orders</a>
        <a href="#">Checkout</a>
    </nav>
</header>
</body>
</html>